body {
  font-family: Georgia, sans-serif;
  padding: 0px;
  margin: 0px;
}

div,
p,
ul,
li,
button,
span,
a {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  height: 6px;
  background-color: #3bafbe;
}

.container:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.social {
  padding-top: 25px;
  padding-left: 25px;
  margin-right: 10px;
}

.search_form {
  padding-top: 25px;
  padding-right: 25px;
}

.fon {
  background-color: #333333;
  color: white;
  border-radius: 7px;
  padding: 8px;
  outline: none;
  border: 0px;
}

.btn {
  background-color: #3bafbe;
  color: white;
  border-radius: 7px;
  padding: 8px;
  outline: none;
  border: 0px;
}

.clear-fix {
  clear: both;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 26px;
  color: #575757;
  margin: 0;
  padding: 0;
  margin-left: 24px;
}

.second-line-text {
  font-size: 12px;
  color: #bbb8b8;
  margin: 0;
  padding: 0;
  margin-left: 24px;
}

.menu {
  margin-top: 25px;
  margin-right: 6px;
}

.menu ul li {
  display: inline-block;
}

.menu li a {
  color: #bbb8b8;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 12px;
}

.menu a:hover {
  color: #83ccd6;
}

.bottom-border {
  margin-top: 25px;
}

.slider {
  display: flex;
}

.monitor {
  margin-top: 270px;
  margin-left: 20px;
  margin-right: 65px;
}

.content {
  margin-top: 270px;
}

.content p:nth-child(1) {
  font-size: 42px;
  color: #535353;
  margin-bottom: 20px;
  padding: 0;
}

.content p:nth-child(2) {
  font-size: 16px;
  color: #999999;
  margin: 0;
  padding: 0;
}

.bottom-border2 {
  margin-top: 50px;
}

.intro {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 20px;
}

.item {
  margin-left: 30px;
}

.title {
  font-size: 16px;
  color: #4a4a4a;
}

.content_text {
  font-size: 13px;
  color: #999999;
  margin-bottom: 25px;
  line-height: 1.6em;
}

.button {
  background-color: #3bafbe;
  color: #ffffff;
  border-radius: 5px;
  width: 105px;
  padding: 10px;
  text-decoration: none;
}

.bottom-border3 {
  margin-top: 50px;
  margin-bottom: 55px;
}

.titel {
  font-size: 22px;
  color: #666666;
  font-style: oblique;
  text-align: center;
  margin-bottom: 50px;
}

.services {
  margin: 0 20px;
}

.main-services-item {
  margin: 0 0 35px;
  display: flex;
  justify-content: space-between;
}

.services-item {
  display: flex;
  align-items: center;
}

.services-item h5 {
  font-weight: normal;
  color: #3bafbe;
  font-size: 13px;
}

.services-item > img {
  margin: 0 15px 0 0;
}

.services-item p {
  color: #848c92;
  font-size: 12px;
  line-height: 1.5;
}

aside {
  width: auto;
  background-color: #252525;
  height: 260px;
}

.aside-item {
  margin-left: 25px;
  padding-top: 40px;
  display: inline-block;
}

.aside-item h3 {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.6;
}

.aside-item p {
  font-size: 12px;
  color: #999999;
  margin: 5px;
}

.button-item {
  color: #3bafbe;
  font-size: 12px;
  text-decoration: none;
  line-height: 1.6;
  float: right;
}

.text1 {
  margin-top: 30px;
}

.text2 {
  margin-top: 15px;
}

.text2 span {
  color: #3bafbe;
}

.aside-item:nth-child(2) {
  margin-left: 75px;
}

.aside-item:nth-child(2) .link-text {
  margin-top: 25px;
  line-height: 1.6;
}

.aside-item:nth-child(2) .link-text p {
  width: 225px;
  font-size: 12px;
  border-bottom: 1px solid #2c2c2c;
  color: #3bafbe;
}

.aside-item:nth-child(3) {
  margin-left: 20px;
}

.aside-item:nth-child(3) .blog-text {
  margin-top: 40px;
}

.aside-item:nth-child(3) .blog-text h3 {
  font-size: 13px;
  color: #999999;
  margin: 5px;
}

.aside-item:last-child h3 {
  margin-bottom: 30px;
}

.aside-item:last-child form {
  border-radius: 1px;
  font-size: 13px;
  overflow: hidden;
  width: 240px;
}

.decoration-form input {
  width: 225px;
  background-color: #2c2c2c;
  border-radius: 7px;
  padding: 8px;
  outline: none;
  border: 0px;
}

.field {
  margin-bottom: 10px;
}

.aside-button {
  margin-top: 15px;
}

.aside-button a.button {
  color: white;
  text-decoration: none;
  background: #3bafbe;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 5px;
  text-transform: uppercase;
}

footer {
  height: 60px;
  background-color: #1a1a1a;
}

footer p {
  font-size: 12px;
  padding-top: 15px;
  padding-left: 20px;
  color: #737373;
  float: left;
}

footer a {
  padding-right: 20px;
  text-decoration: none;
  padding-top: 25px;
  color: #737373;
  float: right;
}
